body {
  padding: 0 0 65px 0;
  margin: 0;
}

.identical2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #5fc0cd;
  padding-left: 10px;
  padding-right: 22px;
}

.header .vacant {
  margin: 0;
  border-bottom: 1px solid;
  border-left: 1px solid;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  color: #fff;
}

p {
  margin: 0;
  color: white;
}

.profiles {
  width: 100%;
  height: 162px;
  background-size: cover;
  background-image: url(./images/02.png);
  display: flex;
  align-items: center;
}

.profiles .people {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  font-size: 17px;
}

.profiles .people .introduce {
  display: flex;
  font-size: 11px;
}

.tabulation {
  display: flex;
  flex-direction: column;
}

.tabulation span {
  border-left: 1px solid #ccc;
  margin-left: 14px;
  padding-left: 14px;
  color: black;
}

.tabulation .tabulationpart1 {
  display: flex;
  align-items: center;
  padding: 19px 0px;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

.tabulation .tabulationpart1 .swatches {
  height: 13px;
  width: 7.5px;
  margin-right: 7.5px;
  border-right: 3px solid #5fc0cd;
}

.tabulation .tabulationpart3 {
  display: flex;
  align-items: center;
  padding: 19px 0px;
  border-bottom: 1px solid #ccc;
  margin-left: 17px;
  font-size: 14px;
  color: #999999;
  color: black;
}

.tabulation .tabulationpart2 {
  align-items: center;
  padding: 19px 0px;
  border-bottom: 1px solid #ccc;
  margin-left: 17px;
  font-size: 14px;
  color: #999999;
}

.tabulation .tabulationpart4 {
  align-items: center;
  padding: 19px 0px;
  border-bottom: 1px solid #ccc;
  margin-left: 17px;
  font-size: 14px;
  color: #999999;
}

.tabulation .tabulationpart5 {
  align-items: center;
  padding: 19px 0px;
  border-bottom: 1px solid #ccc;
  margin-left: 17px;
  font-size: 14px;
  color: #999999;
}

.tabulation .tabulationpart6 {
  display: flex;
  align-items: center;
  padding: 19px 0px;
  border-bottom: 1px solid #ccc;
  margin-left: 17px;
  font-size: 14px;
  color: #999999;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 18px;
}

.footer .footerright {
  height: 44px;
  width: 45%;
  text-align: center;
  line-height: 44px;
  border-radius: 10px;
  font-size: 15px;
  background: #5fc0cd;
  color: white;
}

.footer .footerleft {
  height: 44px;
  width: 45%;
  text-align: center;
  line-height: 44px;
  border-radius: 10px;
  font-size: 15px;
  background: white;
  border: #5fc0cd 2px solid;
  color: #5fc0cd;
}
