body{padding: 0 0 65px 0;margin: 0;}
.tb{display: flex;
    justify-content:space-between;
    align-items:center;
    height: 40px; background-color: #5fc0cd; }
p{margin: 0; color: white;}
.dr{width: 100%; height: 162px;
    background-repeat: no-repeat;
    
    background-size:cover;
    background-image: url(./images/02.png);
    display: flex;
    align-items: center;
    
    
    } 
.drr{display: flex;
    flex-direction:column;
    padding-left: 15px;
    font-size: 17px;    
}    
.drrr{
    display: flex;
    font-size: 11px; 
}
.ds{
    display:flex;
    flex-direction: column;
}
.dss{display: flex; align-items: center; padding: 19px 0px; border-bottom: 1px solid #ccc;
     font-size: 15px; 
}
.dsd{ display: flex;
    align-items: center; padding: 19px 0px; border-bottom: 1px solid #ccc; margin-left: 17px;
     font-size: 14px; 
}
.dsf{align-items: center; padding: 19px 0px; border-bottom: 1px solid #ccc; margin-left: 17px;
     font-size: 14px; color: #999999;
}
.dsa{align-items: center; padding: 19px 0px; border-bottom: 1px solid #ccc; margin-left: 17px;
     font-size: 14px; color: #999999;
}
.dds{align-items: center; padding: 19px 0px; border-bottom: 1px solid #ccc; margin-left: 17px;
     font-size: 14px; color: #999999;
}
.dzw{display: flex; align-items: center; padding: 19px 0px; border-bottom: 1px solid #ccc;
     padding-left: 17px;
     font-size: 14px;
    color: #999999;
    }
span{
    border-left: 1px solid #ccc;
    margin-left: 14px;
    padding-left: 14px;
    color: black;
}
.i{height: 13px; width: 7.5px; margin-right: 7.5px; border-right: 3px solid #5fc0cd; }
.db{display: flex;
    height:64px;
	
	position:fixed;
    bottom:0;
    right:0;
    left: 0;
    justify-content:space-between;
    align-items:center;
    
}
.zuo{height: 44px; background: white; width: 45%; margin-left: 18px; margin-right: 6.5px;
     text-align: center; line-height: 44px; border-radius: 10px; border: #5fc0cd 2px solid;
     font-size: 15px; color: #5fc0cd;
}
.you{height: 44px; background: #5fc0cd; width: 45%; margin-right: 18px; margin-left: 6.5px;
     text-align: center; line-height: 44px; border-radius: 10px;
     font-size: 15px; color: white;
}