.d1{
    display: none;
}
.x1{
    display: block;
    cursor: pointer;
}
.d2{
    display: none;
}
.d2 a{
    width: 100%;
    display: block;
    margin: 0 auto;
}

#menu1{
    height: 50px;
    width: 50px;
    background: url(./8/QQ20191113144045.png);
    display: block;
    cursor: pointer;
}
#menu:checked ~ .d2{
    display: block;
}
.m1{
    display: flex;
    flex-direction: row-reverse;
}
.d6{
    height: 800px;
    flex-direction: column;
    align-items: center;
}
.d61{
    width: 50%;
}
.dd6{
    flex-direction: column;
    align-items: center;
    height: 500px;
    border: none;
}
.d8{
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-around;
}
.d11{
    flex-direction: column;
    align-items: center;
}
.d111{
    margin-right: 0;
    width: 80%;
    margin-bottom: 10px;
}
.d12{
    display: none;
}
.d14{
    flex-direction: column;
    align-items: center;
}
.db{
    flex-direction: column;
}
.zb{
    padding-left: 0px;
}
.db .yb p{
    text-align: left!important;
}
.c0{
    height: 1000px;
}
.t1{
    height: 301.94px;
}
.b2{
    padding-right: 0px;
}
.d62{
    padding: 55px 0 0 0;
}
.d4 .l1{
    padding-left: 0px;
}
.d4 .l1 li{
    list-style: none;
    padding-right: 4px;
}